body{
    margin: 0;
    padding: 0;

}
img{
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.all{    width: 1200px;
    background: seagreen;
    margin: 0 auto;
}
.menu{
            background: #09baab;
    overflow: hidden;
}
.menu ul{
        margin: 0;
    padding: 0;
}
.menu ul li{
        list-style: none;
    float: left;
}
.menu li a{
    color: floralwhite;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}
a:hover{
        background: aliceblue;
    color: #284f39;
}

.main-content{
        width: 100%;
    height: 450px;
}
.left{
        width: 75%;
    height: 450px;
    background: lightblue;
    float: left;
}
    .one{
            width: 70%;
            height: 150px;
            background: blue;
            t;
            float: left;
    }

    .one img{
            max-width: 100%;
            height: 100%;
            width: 100%;
            box-sizing: border-box;
    }
    .two{
            width: 30%;
    height: 150px;
    float: left;
    background: lavenderblush;
    }

    .two img{

max-width: 100%;

box-sizing: border-box;

width: 100%;

height: 100%;

}
    .three{
            width: 33.33%;
            height: 150px;
            float: left;
    }
    
    .three img{
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.right{
    width: 25%;
    height: 450px;
    background: #db6337;
    float: left;
}
    .four{
        
width: 100%;
        
height: 50%;
        
background: orange;
        
float: left;
    }
    .four img{
    max-width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


.footer{
        width: 100%;
        height: 50px;
        background: #09baab;

}
